{% extends "integration/layout/base.html" %}
{% block content %}
    <dvi>
    <a href="{% url "xibo.update.widget" %}"><button type="button" class="btn btn-primary">Update Widget</button></a>
    <a href="{% url "xibo.update.display" %}"><button type="button" class="btn btn-primary">Update Display</button></a>
    <a href="{% url "xibo.update.layout" %}"><button type="button" class="btn btn-primary">Update Layout</button></a>
    </dvi>
    <h2>Layouts</h2>
    {% for lay in layouts %}
        <div class="row1">
            <div class="card">
                <div class="card-header">{{ lay.layout }}</div>
                <div class="card-body">
                    <ul>
                        <li>Background Color: {{ lay.backgroundColor }}</li>
                    </ul>
                </div>
                {#        <div class="card-footer">Footer</div>#}
            </div>
        </div>
    {% endfor %}
    <hr>
    <h2>Displays</h2>
    {% for display in displays %}
        <div class="card">
            <div class="card-header">Header</div>
            <div class="card-body">Content</div>
            {#        <div class="card-footer">Footer</div>#}
        </div>
    {% endfor %}
{% endblock %}
