{% extends "integration/layout/base.html" %}
{% block content %}
    <div style="direction: rtl; text-align: right;">
        <h1>{{ class_room.name }}</h1>
    </div>
    <form method="post" action="{% url 'classroom.class_id' class_room.id %}">
        <table  style="direction: rtl; text-align: right;" class="table">
            <thead>
            <tr>
                <th>عنوان پروژه</th>
                <th>نام دانشجو</th>
                <th>نام استاد راهنما</th>
                <th>نام استاد داور ۱</th>
                <th>نام استاد داور ۲</th>
                <th>تاریخ</th>
                <th>زمان</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                    <td>طراحی عامل هوشمند تبدیل گفتار به متن</td>
                    <td>احمد انواری</td>
                    <td>دکتر نیک آبادی</td>
                    <td>دکتر صفا بخش</td>
                    <td>دکتر رحمتی</td>
                    <td>۹۷/۲/۱۸</td>
                    <td>۱۲:۱۵</td>
                </tr>
            <tr>
                {% csrf_token %}
                <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="teacher-name" name="teacher-name"
                           placeholder="عنوان پروژه"></td>
                <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="نام دانشجو"></td>
                <td>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="استاد راهنما">
                </td>
                <td>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="استاد داور ۱">
                </td>
                <td>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="استاد داور ۲">
                </td>
                <td>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="تاریخ">
                </td>
                <td>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject-name" name="subject-name"
                           placeholder="زمان">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-lg">Add Schedule</button>
    </form>

{% endblock %}