<!DOCTYPE html>
<html>
<head>
    <title>CEIT Signage - {% block pagetitle %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="/static/integration/favicon.ico"/>
    {#        <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">CEIT Signage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block home_nav_activate %}{% endblock %}">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item {% block xibo_nav_activate %}{% endblock %}">
                    <a class="nav-link" href="{% url "xibo.index" %}">Xibo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "classroom.index" %}">Classroom</a>
                </li>
                <li class="nav-item dropdown {% block task_nav_activate %}{% endblock %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "task.new" %}">New Immediate Schedule</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "timesheet.selectdisplay" %}">Set Time Sheet Schedule</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/class/table">Set Time Sheet Schedule</a>
                    </div>
                </li>
                <li class="nav-item dropdown {% block admin_nav_activate %}{% endblock %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "timeslice.class" %}">Class Time Slice</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if user %}
                            <a class="dropdown-item" href="{% url "user.login" %}">{{ user.name }}</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url "user.login" %}">Login</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            {#            <form class="form-inline my-3 my-lg-0">#}
            {#                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
            {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
            {#            </form>#}
        </div>
    </nav>
</header>

<div class="content container">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>