{% extends "integration/layout/template.html" %}
{% block pagetitle %}
    Image Upload
{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Presenter Name</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Helper Teacher Name</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Judge Teacher Name1</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Judge Teacher Name2</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Judge Teacher Name3</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Date</th>
                                <td>Ahmad Anvari</td>
                            </tr>
                            <tr>
                                <th scope="row">Time</th>
                                <td>13:30</td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="col">
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target=".multi-collapse" aria-expanded="false"
                                    aria-controls="multiCollapseExample1 multiCollapseExample2">Display List
                            </button>
                        </div>

                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Display Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for hallway_display in hallway_displays %}
                                            <tr>

                                                <th scope="row">{{ hallway_display.display_id }}</th>
                                                <td>{{ hallway_display.display }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
{% endblock %}